{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "ediotor.codeActionOnSave": {
    "source.fixAll.eslint": true
  },
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none"
}
